fieldset {
    border: 1px solid rgb(8, 14, 77);
}

select {
    width: 200px;
}

th {
    background:  rgb(245, 245, 248);
    text-align: left;
    font-size: 15px;
}

#window {
    width: 40%;
    height: 90%;
    margin: 50px auto;
    display: none;
    background: rgb(245, 245, 248);
    z-index: 200;
    position: absolute;   
    top: 0;
    left: 30%;
    padding: 16px;
    color: #040e36;
    font-size: 15px;    
    font-weight:bold;
    overflow-x: scroll;
    overflow-y: scroll;
}

.h4 {
    float: left;
    color: #040e36;
    font-size: 10px;  
}

.h2 {
    color: #040e36;
    font-size: 20px;
    font-style: oblique;
    font-weight:bold; 
    margin-left: 50px;
}

dt { 
    float: left;   
    font-size: 13px;
    font-style: oblique;
    color: rgb(126, 6, 6);
}

dd { 
    float: left;
    font-size: 12px;
    margin-left: 3em;
}

.MyMapCar {
    width: 35%; 
    height: 300px;
}

.tableCalendar {
    width: 35%;
    font-size: 12px;
} 

.tableCalendarTh { 
    float: center;   
    font-size: 13px;
    font-style: oblique;
    color: rgb(126, 6, 6);
}

.form-group {
    margin-right: 1%;
    margin-left: 1%;
}

.row {
    margin-right: 1%;
    margin-left: 1%;
}

.tablePhotos {
    width: 71px;
    font-size: 12px;  
}

.rightpic {
    float: left;
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
}
 
 img {
    width: 100px; 
    height: 100px;
}

.gray {
    color: gray;
}