#window{
    width: 400px;
    height: 200px;
    margin: 50px auto;
    display: none;
    background: rgb(218, 220, 245);
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    color: #040e36;
    font-size: 15px;    
    font-weight:bold;    
}

.close{
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
}
