<div class="container"><br>
  <h1 class="h1">Регистрация</h1><br><br>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveUser()" #signupform="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel">
          <div *ngIf="email.errors &&(email.touched || email.dirty)" class ="aler alert-danger">
            <div [hidden]="!email.errors?.pattern">
              Некорректный e-mail
            </div>
          </div>     
        </div>       
        <div class="form-group">          
          <a href="/" class="btn btn-primary">Назад</a>    
          <button type="submit" class="btn btn-success" [disabled]="!signupform.form.valid">OK</button>
        </div>        
        <div [ngStyle]="{'color': colorMessage? 'black' : 'red'}">{{message | uppercase}}</div>         
      </form>      
    </div>  
  </div>
  <div id="window"><br><br>       
     Пользователь создан. Пароль будет отправлен на указанный e-mail<br><br>       
      <button class="btn-close" (click)="show('none')">Закрыть</button>
  </div>
</div>
    