#window {
    width: 400px;
    height: 200px;
    margin: 50px auto;
    display: none;
    background: rgb(245, 245, 248);
    z-index: 200;
    position: absolute;   
    top: 0;
    left: 30%;
    padding: 16px;
    color: #040e36;
    font-size: 15px;    
    font-weight:bold; 
}

.close {
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
}
