<div class="container"><br>
  <h1 class = "h1">Мои объявления</h1><br><br>
  <a [routerLink]="['/createcar']" class="btn btn-primary">Добавить</a><br><br> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>№</th>
        <th>Марка</th>
        <th>Модель</th>        
        <th>Гос. номер</th>
        <th>Объявление</th>
        <th>Активировано</th>
        <th>Отклонено</th>
        <th>Комментарий</th>      
        <th class="col-sm-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars; let i=index">
        <td>{{ i + 1 }}</td>
        <td>{{ car.mark }}</td>
        <td>{{ car.model }}</td>        
        <td>{{ car.stateNumber }}</td>
        <td>{{ car.adText }}</td>
        <td>
          <input type="checkbox" [(ngModel)]="car.activated" disabled/>        
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="car.rejected" disabled/>
        </td>
        <td>{{ car.comment }}</td>
        <td class="col-sm-1"> 
          <a class="btn btn-success" (click)="goToEdit(car.id)" >редак-ть >></a>       				
				</td>    
      </tr>
    </tbody>
  </table>
</div>
