<div class="container"><br>
  <h1 class="h1">Платежи</h1>
  <h5 class="h5">* исходящие и входящие платежи (далее - пл) пользователя {{email}}</h5><br><br>    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>№</th>
          <th>Вид пл.</th>          
          <th>Плательщик</th>
          <th>Получатель</th>
          <th>Сумма(BYN)</th>
          <th>Доп.опл.</th>        
          <th>Реквизиты пл.</th>
          <th>Комментарий</th>
          <th>Состояние</th>         
          <th class="col-sm-1"></th>           
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments; let i=index"  [ngStyle]="{'background-color': payment.closed===true? 'silver' : 'white'}">
          <td>{{ i + 1 }}</td>
          <td class="green" *ngIf="payment.emailCarUser === email">
            входящий
          </td>
          <td class="blue" *ngIf="payment.emailUser === email&&payment.emailCarUser !== email">
            исходящий
          </td>      
          <td>{{ payment.emailUser }}</td>
          <td>{{ payment.emailCarUser }}</td>
          <td>{{ payment.amountToPay }}</td>
          <td>{{ payment.addAmountToPay }}</td>
          <td>{{ payment.paymentRequisites }}</td>                
          <td>{{ payment.comment }}</td>         
          <td *ngIf="payment.closed === true">
            оплачен
          </td>         
          <td class="red" *ngIf="payment.confirmedUser === true&&payment.confirmedAdmin === true&&payment.closed === false">
            подтвержден, не оплачен
          </td>
          <td class="blue" *ngIf="payment.confirmedUser === true&&payment.addAmountToPay !== 0&&payment.confirmedAdmin === false&&payment.rejectedAdmin === false&&payment.closed === false">
            на подтверждении у админа
          </td>          
          <td class="orange" *ngIf="payment.confirmedUser === false&&payment.rejectedAdmin === false&&payment.emailCarUser === email">
            необходимо подтвердить
          </td>
          <td class="blue" *ngIf="payment.confirmedUser === false&&payment.rejectedAdmin === false&&payment.emailUser === email&&payment.emailCarUser !== email">
            на подтверждении у арендодателя
          </td>
          <td class="orange" *ngIf="payment.rejectedAdmin === true&&payment.emailCarUser === email">
            необходимо повторно подтвердить  
          </td>
          <td class="blue" *ngIf="payment.rejectedAdmin === true&&payment.emailUser === email&&payment.emailCarUser !== email">
            на повторном подтверждении у арендодателя  
          </td>
          <td class="col-sm-1">
            <a class="btn btn-success" (click)="goToDetail(payment)">Подробно >></a>
          </td>              
        </tr>
      </tbody>
    </table>
  <div>{{message | uppercase}}</div>
  <br>  
  <div class="form-group">
    <button class="btn btn-success" (click)="backClicked()">Назад</button>    
  </div>
  <div id="window" (click)="show('none')">
    <div class="container">
      <h4 class="h4">* Щелкните по окну для его закрытия</h4><br>    
      <h2 class="h2">Дополнительная информация</h2><br>           
      <dl class="list">
        <dt>Марка:</dt><br>
        <dd>{{ paymentDetail.mark }}</dd><br>
        <dt>Дата начала:</dt><br>
        <dd>{{ paymentDetail.beginDate | date: 'dd/MM/yyyy HH:mm' }}</dd><br>
        <dt>Количество дней:</dt><br>
        <dd>{{ paymentDetail.countDays }}</dd><br>
        <dt>Цена за сут.:</dt><br>
        <dd>{{ paymentDetail.price }}</dd><br>
        <dt>Дата возврата:</dt><br>
        <dd>{{ paymentDetail.returnDate | date: 'dd/MM/yyyy HH:mm' }}</dd><br>                  
      </dl>     
    </div>
  </div>
</div>
