<div class="container"><br>
  <h1 class="h1">Список броней на мои авто</h1><br><br>
  <a [routerLink]="['/confirmbooking']" class="btn btn-primary">Подтвердить</a><br><br> 
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>№</th>
          <th>email</th>
          <th>Марка</th>
          <th>Дата начала</th>
          <th>Кол-во дней</th>
          <th>Цена за сут.</th>
          <th>Дата возврата</th>
          <th>Комментарий</th>
          <th>Состояние</th>             
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; let i=index" [ngStyle]="{'background-color': booking.returnDate===null? 'white' : 'silver'}">
          <td>{{ i + 1 }}</td>
          <td>{{ booking.userEmail }}</td>
          <td>{{ booking.carMark }}</td>
          <td>{{ booking.beginDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ booking.countDays }}</td>
          <td>{{ booking.price }}</td>
          <td>{{ booking.returnDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ booking.comment }}</td>
          <td *ngIf="booking.returnDate!=null">
            возвращено
          </td>
          <td class="green" *ngIf="booking.activated === true&&booking.confirmed === true&&booking.returnDate===null">
            забронировано
          </td>
          <td class="blue" *ngIf="booking.activated === false&&booking.confirmed === false&&booking.rejected === false&&booking.returnDate===null">
            на активации у админа
          </td>
          <td class="red" *ngIf="booking.activated === false&&booking.rejected === true">
            отказано админом
          </td>
          <td class="orange" *ngIf="booking.activated === true&&booking.rejected === false&&booking.confirmed === false&&booking.returnDate===null">
            необходимо подтвердить
          </td>
          <td class="red" *ngIf="booking.activated === true&&booking.rejected === true&&booking.returnDate===null">
            отказано мной
          </td>          
        </tr>
      </tbody>
    </table>
  <div>{{message | uppercase}}</div>
  <br>
  <div class="form-group">
    <button class="btn btn-success" (click)="backClicked()">Назад</button>   
  </div>  
</div>

