<div class="container"><br>
  <h1 class="h1">Бронирование</h1><br><br>
  <h2 class="h2">Выбранный автомобиль: {{mark}}</h2><br><br>
  <div class="row"></div>
    <div class="col-md-6">
      <form (ngSubmit)="createBooking()" #carForm="ngForm">
        <div class="form-group">
          <label for="beginDate">Дата начала (со временем!)</label>
          <input type="datetime-local" class="form-control" id="beginDate" required [(ngModel)]="carBooking.beginDate" name="beginDate" #beginDate="ngModel">
        </div>
        <div class="form-group">
          <label for="countDays">Количество полных дней</label>
          <input type="number" class="form-control" id="countDays" pattern="^(0|[1-9][0-9]*)$" required [(ngModel)]="carBooking.countDays" name="countDays" #countDays="ngModel">  
        </div>
        <div>{{message | uppercase}}</div><br>                       
        <div class="form-group">         
          <button class="btn btn-success" (click)="backClicked()">Назад</button> 
          <button type="submit" class="btn btn-success" [disabled]="!carForm.form.valid">ОК</button>
        </div>          
      </form>
    </div>
</div>