<div class="container"><br>
  <h1 class="h1">Список моих броней</h1><br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>№</th>         
          <th>Марка</th>
          <th>Дата начала</th>
          <th>Кол-во дней</th>
          <th>Цена за сут.</th>
          <th>Комментарий</th>
          <th>Состояние</th>
          <th>Дата возврата</th>
          <th class="col-sm-1"></th>
          <th class="col-sm-1"></th>           
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; let i=index" [ngStyle]="{'background-color': booking.returnDate!==null||booking.canceled===true? 'silver':'white'}">
          <td>{{ i + 1 }}</td>         
          <td>{{ booking.carMark }}</td>
          <td>{{ booking.beginDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ booking.countDays }}</td>
          <td>{{ booking.price }}</td>
          <td>{{ booking.comment }}</td>
          <td *ngIf="booking.canceled===true">
            бронь отменена
          </td>
          <td *ngIf="booking.returnDate!=null&&booking.canceled===false">
            возвращено
          </td>
          <td class="green" *ngIf="booking.activated === true&&booking.confirmed === true&&booking.returnDate===null&&booking.canceled===false">
            забронировано
          </td>
          <td class="blue" *ngIf="booking.activated === false&&booking.confirmed === false&&booking.rejected === false&&booking.returnDate===null&&booking.canceled===false">
            на активации у админа
          </td>
          <td class="red" *ngIf="booking.activated === false&&booking.rejected === true&&booking.returnDate===null&&booking.canceled===false">
            отказано админом
          </td>
          <td class="blue" *ngIf="booking.activated === true&&booking.rejected === false&&booking.confirmed === false&&booking.returnDate===null&&booking.canceled===false">
            на подтверждении у аренд-ля
          </td>
          <td class="red" *ngIf="booking.activated === true&&booking.rejected === true&&booking.returnDate===null&&booking.canceled===false">
            отказано арендодателем
          </td>
          <td>{{ booking.returnDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td class="col-sm-1"> 
            <button class="btn btn-success" (click)="returnCar(booking.idCarBooking)"  [disabled]="booking.activated===false||booking.confirmed===false||booking.returnDate!=null||booking.canceled===true">возврат</button>       				
          </td>
          <td class="col-sm-1"> 
            <button class="btn btn-success" (click)="cancelBooking(booking.idCarBooking)"  [disabled]="booking.canceled===true||booking.returnDate!=null">отмена</button>       				
          </td>          
        </tr>
      </tbody>
    </table>
  <div>{{message | uppercase}}</div>
  <br>
  <div class="form-group">
    <button class="btn btn-success" (click)="backClicked()">Назад</button>   
  </div>  
</div>
