<div class="container"><br>
  <h1 class="h1">Подтверждение дополнительной оплаты</h1><br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>№</th>
          <th>Арендодатель</th>
          <th>Арендатор</th>
          <th>Сумма(BYN)</th>
          <th>Доп.опл.(BYN)</th>        
          <th>Реквизиты платежа</th>
          <th>Комментарий</th>          
          <th>Подтвердить</th>
          <th>Отклонить</th>
          <th class="col-sm-1"></th>           
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments; let i=index">
          <td>{{ i + 1 }}</td>
          <td>{{ payment.emailCarUser }}</td>
          <td>{{ payment.emailUser }}</td>
          <td>{{ payment.amountToPay }}</td>
          <td>{{ payment.addAmountToPay }}</td>
          <td>{{ payment.paymentRequisites }}</td>                
          <td type="comment">
            <input type="comment" class="comment" [(ngModel)]="payment.comment" (change)="updateComment(payment)">
          </td>          
          <td>
            <input type="checkbox" id="confirmedAdmin" name="confirmedAdmin" [(ngModel)]="payment.confirmedAdmin" (click)="changeConfirmedRejected(payment,$event,1)">
          </td>
          <td>
            <input type="checkbox" id="rejectedAdmin" name="rejectedAdmin" [(ngModel)]="payment.rejectedAdmin" (click)="changeConfirmedRejected(payment,$event,2)">
          </td>     
          <td class="col-sm-1">
            <a class="btn btn-success" (click)="goToDetail(payment)">Подробно >></a>
          </td>              
        </tr>
      </tbody>
    </table>
  <div>{{message | uppercase}}</div>
  <br>  
  <div class="form-group">
    <button class="btn btn-success" (click)="backClicked()">Назад</button>
    <button class="btn btn-success" (click)="putPayments()">Сохранить</button>
  </div>
  <div id="window" (click)="show('none')">
    <div class="container">
      <h4 class="h4">* Щелкните по окну для его закрытия</h4><br>    
      <h2 class="h2">Дополнительная информация</h2><br>           
      <dl class="list">
        <dt>Марка:</dt><br>
        <dd>{{ paymentDetail.mark }}</dd><br>
        <dt>Дата начала:</dt><br>
        <dd>{{ paymentDetail.beginDate | date: 'dd/MM/yyyy HH:mm' }}</dd><br>
        <dt>Количество дней:</dt><br>
        <dd>{{ paymentDetail.countDays }}</dd><br>
        <dt>Цена за сут.:</dt><br>
        <dd>{{ paymentDetail.price }}</dd><br>
        <dt>Дата возврата:</dt><br>
        <dd>{{ paymentDetail.returnDate | date: 'dd/MM/yyyy HH:mm' }}</dd><br>                  
      </dl>     
    </div>
  </div>
</div>
